{% import "macros/icons.html" as icons %} {% import "macros/carousel.html" as
carousel_macro %}
<div class="p-4 w-[90%] mx-auto relative overflow-x-hidden">
    <div
        class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6 gap-4"
    >
        <!-- Filters container -->
        <div class="flex flex-wrap gap-3 w-full md:w-auto">
            <!-- Course Filter -->
            <select
                id="course-filter"
                class="p-2 border rounded bg-secondary-100 text-secondary-900 font-secondary w-full md:w-auto"
                hx-get="/knowledge-hub/filter-courses"
                hx-target="#course-carousel"
                hx-trigger="change"
                name="course_name"
                hx-vals="js:{locale: document.documentElement.lang}"
            >
                <option value="">{{ _("Select the course") }}</option>
                {% for course_name, uuid in unique_courses[locale].items() %}
                <option value="{{ course_name }}">{{ course_name }}</option>
                {% endfor %}
            </select>

            <!-- Tag Filter -->
            <select
                id="tag-filter"
                class="p-2 border rounded bg-secondary-100 text-secondary-900 font-secondary w-full md:w-auto"
                hx-get="/knowledge-hub/filter-courses"
                hx-target="#course-carousel"
                hx-trigger="change"
                name="tag"
                hx-vals="js:{locale: document.documentElement.lang}"
            >
                >
                <option value="">{{ _("Select Tags") }}</option>
                {% for tag in unique_tags[locale] %}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% call carousel_macro.carousel( id='course-carousel', items=data, gap='6
    sm:gap-14', perSlide=1, emptyState={ 'icon': icons.research(cls='size-24
    text-primary-600'), 'text': _("No courses found") }, locale=locale ) %} {%
    include 'partials/knowledge-hub/courses-cards.html' %} {% endcall %}
</div>
