{% import "macros/icons.html" as icons %} {% from "macros/soundcloud.html"
import soundcloud_embed %}

<div class="w-full h-full min-h-[300px] p-6 bg-primary-300">
    {% if not data %}
    <div class="w-full h-full grid place-items-center">
        <span class="text-primary-600">{{icons.music(cls='size-24')}}</span>
        <p class="text-slate-500 text-lg font-primary mt-4">
            {{_("No podcasts available")}}
        </p>
    </div>
    {% else %}
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
    >
        {% for podcast in data %}
        <div
            class="bg-white shadow-xl rounded-xl overflow-hidden transition-transform transform hover:scale-105 hover:shadow-2xl"
        >
            <!-- SoundCloud Embed -->
            <div class="p-4 bg-gradient-to-r from-primary-50 to-secondary-50">
                {{ soundcloud_embed(share_link=podcast.url) }}
            </div>

            <!-- Podcast Details -->
            <div class="p-6">
                <!-- Title -->
                <h3 class="text-2xl font-bold font-primary text-primary-900">
                    {{podcast.title[locale]}}
                </h3>

                <!-- Date -->
                <p class="text-sm text-secondary-600 mt-2">{{podcast.date}}</p>

                <!-- Description -->
                <p class="text-sm text-secondary-700 mt-4 leading-relaxed">
                    {{podcast.description[locale] | truncate(120)}}
                </p>

                <!-- Tags -->
                <div class="flex flex-wrap gap-2 mt-6">
                    {% for tag in podcast.tags[locale] %}
                    <span
                        class="bg-secondary-100 text-secondary-900 text-xs px-3 py-1.5 rounded-full font-secondary"
                    >
                        {{tag}}
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
