{% import "macros/form.html" as form %} {% from "macros/spinner.html" import
spinner %}
<form
    id="create-course"
    class="flex flex-col gap-4"
    hx-post=""
    hx-target="this"
    hx-swap="outerHTML"
    hx-encoding="multipart/form-data"
    hx-indicator="#spinner"
    enctype="multipart/form-data"
>
    <!-- Title (Multi-language Support) -->
    {{form.input(label=_("course_title_english"), id="title-en",
    name="title[en]", placeholder=_("course_title_english"))}}
    {{form.input(label=_("course_title_arabic"), id="title-ar",
    name="title[ar]", placeholder=_("course_title_arabic"))}}

    <!-- course name -->
    {{form.input(label=_("course_name_english"), id="title-en",
    name="title[en]", placeholder=_("course_name_english"))}}
    {{form.input(label=_("course_name_english"), id="title-en",
    name="title[en]", placeholder=_("course_name_english"))}}

    <!-- course members -->
    {{form.select(label=_("course_members"), id="course-members",
    name="members", options=[('member-1', '1'), ('member-2', '2'), ('member-3',
    '3'), ('member-4', '4')],)}}

    <!-- Tags (Multi-language Support) -->
    {{form.input(label=_("tags_english"), id="tags-en", name="tags[en]",
    placeholder=_("tags_english_placeholder"), )}}
    {{form.input(label=_("tags_arabic"), id="tags-ar", name="tags[ar]",
    placeholder=_("tags_arabic_placeholder"), )}}

    <!-- date -->
    {{form.input(label=_("course_date"), id="news-img", name="date",
    type="date",placeholder=_("news date"))}}

    <!-- image (Multi-language Support) -->
    {{form.input(label=_("course_image"), name="image", accept="image/*",
    type="file",placeholder=_("course image"), required=False )}}

    <!-- description -->
    {{form.textarea(id='description', name='description')}}

    <!-- submission -->
    <button
        class="flex justify-center w-full px-4 py-2 bg-primary-600 text-white rounded-lg hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 uppercase"
        type="submit"
    >
        {{spinner()}}
        <span>create</span>
    </button>
</form>
