{% from "macros/spinner.html" import spinner %} {% import "macros/form.html" as
form %} {% set _form = { 'title': { 'en': title['en'] if update else '', 'ar':
title['ar'] if update else '', }, 'date': date if update else '', 'image': image
if update else '' } %}
<div>
    <form
        id="create-news"
        class="flex flex-col gap-4"
        {%
        if
        update
        %}
        hx-patch="/dashboard/news/{{ uuid }}"
        {%
        else
        %}
        hx-post="/dashboard/news"
        {%
        endif
        %}
        hx-target="this"
        hx-swap="outerHTML"
        hx-encoding="multipart/form-data"
        hx-indicator="#spinner"
        enctype="multipart/form-data"
    >
        <!-- Title (Multi-language Support) -->
        {{form.input(label=_("news_title_english"), id="title-en",
        name="title[en]", placeholder=_("news_title_english"),
        value=_form.title.en )}} {{form.input(label=_("news_title_arabic"),
        id="title-ar", name="title[ar]", placeholder=_("news_title_arabic"),
        value=_form.title.ar )}}

        <!-- date -->
        {{form.input(label=_("news_date"), id="news-img", name="date",
        type="date",placeholder=_("news date"), value=_form.date )}}

        <!-- image (Multi-language Support) -->
        {{form.input(label=_("news_image"), id="news-img", name="image",
        accept="image/*", type="file",placeholder=_("news image"),
        value=_form.image, required=False )}}

        <!-- description -->
        <div>
            <label
                for="editor"
                class="mb-1 block text-sm font-medium text-gray-700 capitalize"
            >
                {{_('content')}}
            </label>
            <div id="editor" class="bg-white"></div>
            <input type="hidden" name="description[en]" id="description-en" />
        </div>
        <button
            class="flex justify-center w-full px-4 py-2 bg-primary-600 text-white rounded-lg hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 uppercase"
            type="submit"
        >
            {{spinner()}}
            <span>
                {% if update %} {{_('update')}} {%else %} {{_('create')}} {%
                endif %}
            </span>
        </button>
    </form>
</div>
<!-- Include the Quill library -->
<script
    src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"
    onload="initQuill()"
></script>
<!-- Initialize Quill editor -->
<script>
    var update = {{ update | default("") | tojson }};
    var description = {{ description | default("") | tojson }};
    var quill = null;
      function initQuill() {
          quill = new Quill('#editor', {
              theme: 'snow',
          })
        if (update) {
            quill.root.innerHTML = description.en
        }
          // Use htmx:configRequest to update the form parameters
          document
              .getElementById('create-news')
              .addEventListener('htmx:configRequest', function (evt) {
                  // Get the HTML content from Quill
                  const content = quill.root.innerHTML
                  console.log('Content before sending:', content)

                  // Update the hidden input (optional)
                  document.getElementById('description-en').value = content

                  // Update the request parameters directly
                  evt.detail.parameters['description[en]'] = content
              })
      }
</script>
