@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noto Kufi Arabic";
    src: url('../../fonts/NotoKufiArabic-Regular.ttf') format('truetype');
}

html, body {
    font-family: "Noto Kufi Arabic", sans-serif;
    height: 100%;
}

section#mission {
    background-image: url('../../imgs/mission.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#our_story {
    background-image: linear-gradient(to bottom right, rgba(57, 24, 17, 0.8), rgba(219, 142, 92, 0.5)),
    url('../../imgs/discussion.jpg');
}

footer {
    background-image: url('../../imgs/bg-footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
