{% macro input(id='', name='', type='text', placeholder='', label='', value='',
accept='', required=True)%}
<div>
    <label
        for="{{id}}"
        class="block text-sm font-medium text-gray-700 capitalize"
    >
        {{ label }}
    </label>
    <div class="flex gap-4 items-center">
        {% if value and type == 'file' %}
        <img
            class="size-14 rounded-full"
            src="{{ url_for('static', filename=value) }}"
            alt="Uploaded image"
        />
        {% endif %}
        <input
            {%
            if
            required
            %}
            required
            {%
            endif
            %}
            type="{{type}}"
            id="{{id}}"
            name="{{name}}"
            placeholder="{{ placeholder }}"
            value="{{ value }}"
            accept="{{ accept }}"
            class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-primary-500 focus:border-primary-500"
        />
    </div>
</div>

{% endmacro %} {% macro textarea(id='', name='', value='') %}
<div>
    <label
        for="editor"
        class="mb-1 block text-sm font-medium text-gray-700 capitalize"
    >
        {{_('course_desc')}}
    </label>
    <textarea
        id="{{id}}"
        name="{{name}}"
        value="{{value}}"
        rows="3"
        placeholder="{{ _('content_english_placeholder') }}"
        class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-primary-500 focus:border-primary-500"
    ></textarea>
</div>
{% endmacro %} {% macro select(id='', name='', label='', options=[],
selected='') %}
<div class="relative">
    <label for="{{id}}">{{label}}</label>
    <button
        id="{{id}}"
        name="{{name}}"
        role="menubutton"
        type="button"
        class="flex justify-between w-full px-4 py-2 border rounded-lg shadow-sm bg-white focus:ring-primary-500 focus:border-primary-500"
        data-members=""
    >
        <span id="btn-content">{{_('choose')}}</span>
        <span>
            <img
                class="size-6"
                src="{{url_for('static',filename='icons/up-down.svg')}}"
                alt="double-arrow"
            />
        </span>
    </button>
    <ul
        role="menu"
        class="hidden absolute top-full left-0 w-full max-h-48 overflow-y-auto mt-2 z-10 bg-white rounded-lg shadow-lg"
    >
        {% for opt in options %}
        <li
            role="menuitem"
            class="flex justify-between px-4 py-2 cursor-pointer hover:bg-gray-100"
        >
            <span data-val="{{opt.uuid}}">{{opt.name}}</span>
            <span id="check" class="hidden">
                <img
                    class="size-6"
                    src="{{url_for('static',filename='icons/check.svg')}}"
                    alt="check icon"
                />
            </span>
        </li>
        {% endfor %}
        <li class="flex justify-center px-4 py-2">
            <!-- Modal toggle -->
            <button
                id="modal-toggle"
                data-modal-target="default-modal"
                data-modal-toggle="default-modal"
                class="block text-black bg-slate-300 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:text-white"
                type="button"
            >
                {{_('add_new')}}
            </button>
        </li>
    </ul>
</div>
<script charset="utf-8">
    var menuBtn = document.querySelector('[role="menubutton"]')
    var menuList = document.querySelector('[role="menu"]')
    var selectedItems = []
    var selectedUUIDS = []
    var menuBtnContent = menuBtn.querySelector('span:first-child')

    menuBtn.addEventListener('click', () => {
        menuList.classList.toggle('hidden')
    })

    for (const li of menuList.querySelectorAll('li[role="menuitem"]')) {
        li.addEventListener('click', (evt) => {
            const checkIcon = li.querySelector('#check')
            const selectedUUID =
                li.querySelector('span:first-child').dataset.val
            const selectedTxt = li.querySelector('span:first-child').textContent

            checkIcon.classList.toggle('hidden')

            if (checkIcon.classList.contains('hidden')) {
                selectedItems = selectedItems.filter(
                    (item) => item !== selectedTxt
                )
                selectedUUIDS = selectedUUIDS.filter(
                    (uuid) => uuid !== selectedUUID
                )
            } else {
                selectedItems.push(selectedTxt)
                selectedUUIDS.push(selectedUUID)
            }
            if (menuBtnContent.textContent === '') {
                menuBtnContent.textContent = 'Choose'
            }
            menuBtnContent.textContent = selectedItems.join(', ')
            menuBtn.dataset.members = selectedUUIDS.join(',')
        })
    }
    document.addEventListener('click', (evt) => {
        if (!menuBtn.contains(evt.target) && !menuList.contains(evt.target)) {
            menuList.classList.add('hidden')
        }
    })
    document.getElementById('modal-toggle').addEventListener('click', () => {
        document.getElementById('default-modal').classList.toggle('hidden')
    })
</script>
{% endmacro %}
