{% macro arrow_left(cls='', clr='#000') %}
<svg class='{{cls}}' xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 50 50" id="left-arrow">
    <path fill='{{clr}}' stroke='{{clr}}' d="M37.561 47.293 15.267 25 37.561 2.707l-1.415-1.414L12.439 25l23.707 23.707z"></path>
</svg>
{% endmacro %}

{% macro arrow_right(cls='', clr='#000') %}
<svg class='{{cls}}' xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 50 50" id="left-arrow">
    <path fill='{{clr}}' d="M13.854 48.707 37.561 25 13.854 1.293l-1.415 1.414L34.732 25 12.439 47.293z"></path>
</svg>
{% endmacro %}
