{% from "macros/spinner.html" import spinner %} {% macro modal(close_txt='',
title='Create Member', ok='add', template='', update=False, endpoint='',
form='') %}
<!-- Main modal -->
<div
    id="default-modal"
    tabindex="-1"
    aria-hidden="true"
    class="flex overflow-y-auto overflow-x-hidden fixed inset-0 z-50 justify-center items-center w-full bg-slate-700/50"
>
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200"
                id="modal-header"
            >
                <h3 class="text-xl font-semibold text-gray-900">{{ title }}</h3>
                <button
                    id="modal-close"
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-primary-100 hover:text-primary-600 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="default-modal"
                >
                    <img
                        class="w-4 h-4"
                        src="{{url_for('static',filename='icons/close.svg')}}"
                        alt="close icon"
                    />
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div id="modal-body" class="p-4 md:p-5 space-y-4">
                {% if template %} {% include "partials/dashboard/knowledge_hub/"
                ~ template ~ ".html" %} {% endif %}
            </div>
            <!-- Modal footer -->
            <div
                class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b"
                id="modal-footer"
            >
                <button
                    id="modal-ok"
                    data-modal-hide="default-modal"
                    type="button"
                    class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    form="{{ form }}"
                    hx-include="#{{form}}"
                    hx-swap="none"
                    hx-trigger="click"
                    hx-indicator="#spinner"
                    {%
                    if
                    update
                    %}
                    hx-patch="{{ endpoint }}"
                    {%
                    else
                    %}
                    hx-post="{{ endpoint }}"
                    {%
                    endif
                    %}
                >
                    {{spinner()}}
                    <span>{{ ok }}</span>
                </button>
                <button
                    id="modal-cancel"
                    data-modal-hide="default-modal"
                    type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-secondary-100 hover:text-secondary-700 focus:z-10 focus:ring-4 focus:ring-secondary-100"
                >
                    {{ _('cancel') }}
                </button>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
