{% from "macros/spinner.html" import spinner %}
{% import "macros/icons.html" as icons %}
<footer class='min-h-60 px-4 py-8 {% if locale == ' ar' %}font-primary{%else%}font-secondary{%endif%}'>
  <div class='container mx-auto grid gap-6'>
    <a href="/">
      <img width="150" height="auto" class="w-[150px] {% if locale == 'en' %}invert brightness-0{% endif %}"
        src="{{url_for('static',filename='imgs/logo.png')}}" alt="logo" />
    </a>
    <div class='space-y-2'>
      <p class="{% if locale == 'en' %}text-white{% else %}text-black{% endif %}">{{_("footer caption")}}</p>
      <form class="flex gap-2 sm:max-w-[50%]"
            hx-post="/subscribe"
            hx-on::after-request="if (event.detail.successful) this.reset()"
            hx-target="this"
            hx-swap="none"
            hx-indicator="#fspinner">

        <input required id="email-input"
               name="email"
               type="email"
               placeholder="{{ _('form email') }}"
               class="flex-1 w-3/4 px-6 py-2 bg-slate-300 bg-opacity-90 rounded-full sm:w-auto" />

        <button type="submit"
                class="py-3 px-4 bg-white rounded-full flex items-center justify-center">
          {{ spinner(id="fspinner") }}
          <span>{{ _('subscribe') }}</span>
        </button>

      </form>
    </div>
    <div class='flex items-center gap-2'>
      {% set icon_color = "#fff" if locale == 'en' else "#000" %}
      <a href="https://www.facebook.com/sweasudan20/" target="_blank" aria-label="Facebook">
        {{ icons.facebook(clr=icon_color) }}
      </a>
      <a href="https://www.linkedin.com/company/sudanese-women-economists-association-swea" target="_blank" aria-label="LinkedIn">
        {{ icons.linkedin(clr=icon_color) }}
      </a>
      <a href="https://x.com/SWEA_Sudan" target="_blank" aria-label="Twitter">
        {{ icons.x(clr=icon_color) }}
      </a>
      <a href="mailto:team@sweasd.org" target="_blank" aria-label="Email">
        {{ icons.mail(clr=icon_color) }}
      </a>
    </div>
    <hr>
    <span class='mx-auto'>&copy; {{ current_year }} SWEA Inc</span>
  </div>
</footer>
