<header class='w-full p-4 bg-primary-50 fixed top-0 left-0 right-0 z-50 {% if locale == 'ar' %}font-primary{%else%}font-secondary{%endif%}'>
    <nav class='container mx-auto flex justify-between items-center'>
        <div class='w-32'>
            <img class='w-full' src="{{url_for('static',filename='imgs/logo.png')}}" alt="swea logo"/>
        </div>
        <button role='menu-btn' class='relative z-10 flex flex-col justify-center gap-1 w-8 h-8' id='menu-burger'>
            <span class='transition-all block w-8 h-1 bg-primary-700'></span>
            <span class='transition-all block w-8 h-1 bg-primary-700'></span>
            <span class='transition-all block w-8 h-1 bg-primary-700'></span>
        </button>
        <div
            id='menu-container'
            class='flex flex-col transition-all bg-primary-600 text-white absolute left-0 right-0 top-0 -translate-y-full pt-14'>
            <ul class='flex flex-col'>
                <li class='p-4 text-center'>{{_('team')}}</li>
                <li class='p-4 text-center'>{{_('projects')}}</li>
                <li class='p-4 text-center'>{{_('join us')}}</li>
            </ul>
            <button
                    class='p-4 capitalize mx-auto'
                    hx-get="/set_language?lang={% if locale == 'ar'%}en{% else %}ar{%endif%}"
                    hx-target='body'
                    hx-trigger='click'
                    >
                    {{_('switch language')}}
            </button>
        </div>
    </nav>
</header>
