<header class='translate-x-0 w-full p-4 bg-secondary-100 fixed top-0 left-0 right-0 z-50
        after:absolute after:inset-0 after:bg-secondary-100
        sm:after:hidden
        {% if locale == 'ar' %} font-primary {%else%} font-secondary {%endif%}'
        >
        <nav class='container mx-auto flex justify-between items-center'>
            <div class='relative z-10 w-32'>
                <a href="/" target="_self">
                    <img class='w-full' src="{{url_for('static',filename='imgs/logo.png')}}" alt="swea logo"/>
                </a>
            </div>
            <button role='menu-btn' class='relative z-10 flex flex-col justify-center gap-1 w-8 h-8 sm:hidden' id='menu-burger'>
                <span class='transition-all block w-8 h-1 bg-primary-800'></span>
                <span class='transition-all block w-8 h-1 bg-primary-800'></span>
                <span class='transition-all block w-8 h-1 bg-primary-800'></span>
            </button>
            <div
                    id='menu-container'
                    class='transition-all duration-500 py-4 bg-secondary-400 text-white absolute left-0 right-0 top-0 -translate-y-full
                    sm:static sm:bg-transparent sm:translate-y-0 sm:text-black sm:p-0'>
                <ul class='flex flex-col sm:flex-row'>
                    <li class='text-center'>
                        <a
                            class='relative block p-4 capitalize {% if request.path == "/team" %}active{% endif %}'
                            href="/team"
                            target="_self"
                        >{{_('team')}}</a>
                    </li>
                    <li class='text-center'>
                        <a
                            class='relative block p-4 capitalize {% if request.path == "/projects" %}active{% endif %}'
                            href="/projects"
                        >
                            {{_('projects')}}
                        </a>
                    </li>
                    <li class='text-center'>
                        <a
                            class='relative block p-4 capitalize {% if request.path == "/knowledge-hub" %}active{% endif %}'
                            href="/knowledge-hub"
                            target="_self"
                        >{{_('knowledge hub')}}</a>
                    </li>
                    <li class='p-4 text-center'>
                        <button
                                class='capitalize mx-auto'
                                hx-get="/set_language?lang={% if locale == 'ar'%}en{% else %}ar{%endif%}"
                                hx-target='body'
                                hx-trigger='click'
                                hx-push-url="{{request.path}}?lang={% if locale == 'ar'%}en{% else %}ar{%endif%}"
                                >
                                {{_('switch language')}}
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
</header>
