{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
<h1>Hello {{user}}</h1>
<ul>
	<li>
		<button hx-get="/set_language?lang=ar" hx-target='body' hx-trigger='click'>
			ar
		</button>
	</li>
	<li>
		<button hx-get="/set_language?lang=en" hx-target='body' hx-trigger='click'>
			en
		</button>
	</li>
</ul>
{% endblock %}

{% block extra_scripts %}
<script>
	document.addEventListener('htmx:afterRequest', function(evt) {
		const path = evt.detail.pathInfo.requestPath;
		if (path.match('set_language') && evt.detail.successful) {
			document.documentElement.lang =  path.match('(?<=lang=)[a-z]{2}')[0];
		}
	})
</script>
{% endblock %}
