{% import "macros/mission-card.html" as macros %}
{% extends "base.html" %}
{% from "macros/spinner.html" import spinner %}
{% block title %}home{% endblock %}
{% block content %}
<div class='w-full h-full'>
	<section id='hero' class='h-[calc(100vh-80px)] grid grid-rows-2 py-8 px-4
    '>
		<div class='flex flex-col gap-6 items-center justify-end'>
			<h1 class='text-3xl text-primary-800 capitalize font-extrabold
			sm:max-w-[80%] sm:text-5xl sm:text-center sm:leading-snug xl:max-w-[50%]'>
				{{_('hero title')}}
			</h1>
			<p class='sm:text-xl sm:text-center sm:max-w-[80%] xl:max-w-[50%]'>{{_('hero description')}}</p>
			<button id="join-us" class='w-max py-2 px-4 text-white font-bold bg-primary-800 capitalize rounded-xl
			sm:py-3 sm:px-5 sm:text-lg z-20'>
				{{_('join us')}}
			</button>
		</div>
    <div>
		<img class='w-[120%] h-[120%] object-contain -translate-y-14' src="{{url_for('static',filename='imgs/hero-no-bg.webp')}}" alt="hero image"/>

    </div>
	</section>
	<section id='mission' class='px-4 py-8 sm:py-28'>
		<div class='container mx-auto flex flex-col justify-center items-center gap-8'>
			<h2 class='me-auto mb-6 text-3xl text-primary-800 capitalize font-extrabold sm:mx-auto sm:text-7xl'>
				{{_('mission title')}}
			</h2>
			<div class='w-full flex flex-col gap-8 items-center sm:flex-row
        sm:justify-center'>
				{{macros.mission_card(
				title=_("mission 1 title"),
				desc=_("mission 1 desc"),
				from='bg-secondary-400',
				to='',
        via='',
				cls='-translate-x-6 sm:translate-x-0'
				)}}
				{{macros.mission_card(
				title=_("mission 2 title"),
				desc=_("mission 2 desc"),
				gradient_dir='bg-gradient-to-t',
				from='bg-secondary-600',
        via='',
				to='',
				cls='translate-x-6 -translate-y-6 sm:translate-y-0 sm:translate-x-0'
				)}}
			</div>
			<div class='w-full flex flex-col gap-8 items-center sm:flex-row sm:justify-center'>
				{{macros.mission_card(
				title=_("mission 3 title"),
				desc=_("mission 3 desc"),
				gradient_dir='bg-gradient-to-t',
				from='bg-secondary-600',
        via='',
				to='',
				cls='-translate-x-6 -translate-y-12 sm:translate-y-0 sm:translate-x-0 '
				)}}
				{{macros.mission_card(
				title=_("mission 4 title"),
				desc=_("mission 4 desc"),
				gradient_dir='bg-gradient-to-t',
				from='bg-secondary-400',
        via='',
				to='',
				cls='translate-x-6 -translate-y-16 sm:translate-y-0 sm:translate-x-0'
				)}}
			</div>
		</div>
	</section>
	<section id='our_story' class='flex items-center px-4 py-8 bg-cover bg-center
    bg-no-repeat sm:bg-[50%_20%] sm:min-h-[100vh]'>
		<div class='flex flex-col justify-center container mx-auto sm:items-center'>
			<h2 class='flex mb-6 text-3xl text-white capitalize font-extrabold pb-6 sm:justify-self-center
      lg:justify-self-start
        sm:text-7xl'>{{_("our story")}}</h2>
			<p class='text-white leading-loose sm:max-w-[80%] text-justify
      sm:justify-self-center sm:text-3xl lg:justify-self-start xl:max-w-[60%]'>
      {{_("our story desc")}}
      </p>
		</div>
	</section>
	<section id='our_vision' class='container mx-auto flex flex-wrap px-4 py-8 sm:py-28'>
		<h2 class='basis-full mb-6 text-3xl font-extrabold capitalize sm:text-center sm:text-7xl'>{{_("our vision")}}</h2>
		<div class='basis-full sm:basis-1/4 sm:text-xl'>
			<img class='max-w-[40%] mx-auto sm:max-w-[auto]' src="{{url_for('static',filename='icons/advance.svg')}}" alt="advance icon"/>
			<p class='max-w-[80%] mx-auto text-center'>{{_("vision 1")}}</p>
		</div>
		<div class='basis-full text-center sm:basis-1/4 sm:text-xl'>
			<img class='max-w-[40%] mx-auto sm:max-w-[auto]' src="{{url_for('static',filename='icons/build_capacity.svg')}}" alt="build capacity icon"/>
			<p class='max-w-[80%] mx-auto text-center'>{{_("vision 2")}}</p>
		</div>
		<div class='basis-full text-center sm:basis-1/4 sm:text-xl'>
			<img class='max-w-[40%] mx-auto sm:max-w-[auto]' src="{{url_for('static',filename='icons/Amplify.svg')}}" alt="amplify icon"/>
			<p class='max-w-[80%] mx-auto text-center'>{{_("vision 3")}}</p>
		</div>
		<div class='basis-full text-center sm:basis-1/4 sm:text-xl'>
			<img class='max-w-[40%] mx-auto sm:max-w-[auto]' src="{{url_for('static',filename='icons/Solidarity.svg')}}" alt="solidarity icon"/>
			<p class='max-w-[80%] mx-auto text-center'>{{_("vision 4")}}</p>
		</div>
	</section>
  <section id='news' class='px-4 py-8 sm:py-28 relative before:h-[70%]
    sm:before:w-[12%] before:absolute before:bg-primary-800 before:top-[55%]
    before:-translate-y-1/2 before:left-0
    before:-z-[1] before:rounded-tr-3xl before:rounded-br-3xl'>
    <div class="container mx-auto relative overflow-hidden">
        <div class='w-full flex justify-between relative z-10'>
            <h2 class='mb-4 text-2xl font-extrabold capitalize sm:text-7xl'>
                {{_("news")}}
            </h2>
            <div class='flex gap-4'>
                <button id='prev' class='size-10 p-2 bg-black rounded-full'>
                    <img
                        class='size-6 {% if locale == 'ar' %}rotate-180{% endif %}'
                        src="{{url_for('static',filename='icons/left-arrow.svg')}}"
                        alt="left arrow"
                    />
                </button>
                <button id='next' class='size-10 p-2 bg-black rounded-full'>
                    <img
                        class='size-6 {% if locale == 'ar' %}rotate-180{% endif %}'
                        src="{{url_for('static',filename='icons/right-arrow.svg')}}"
                        alt="right arrow"
                    />
                </button>
            </div>
        </div>
        <div id='carousel' class='w-full transition-all relative z-10 flex gap-6 p-4 sm:p-20 '>

            {% include "partials/news/cards.html" %}
        </div>
    </div>
  </section>
	<section id='contact' class='container justify-center mx-auto px-4 py-8 sm:py-28 lg:grid lg:grid-cols-2'>
		<div class='relative flex flex-col gap-4 bg-white px-3 py-4
		sm:px-8 sm:py-12'
			 >
			 <h2 class='text-3xl capitalize font-extrabold sm:text-5xl'>{{_('contact us')}}</h2>
			 <p>{{_('contact enquiry')}}</p>
			 <form class='flex flex-col gap-3'
             hx-post='/contact-us'
             hx-trigger='submit'
             hx-on::after-request="this.reset()"
             hx-swap='none'
             hx-indicator="#spinner"
         >
				 <input
						 required
						 placeholder='{{_("form name")}}'
						 type="text"
						 value=""
						 name="name"
						 class='bg-[#CCCCCC] p-3 rounded-lg'
						 />
				 <input
						 required
						 placeholder='{{_("form email")}}'
						 type="email"
						 value=""
						 name="email"
						 class='bg-[#ccc] p-3 rounded-md'
						 />
				 <textarea
						 placeholder='{{_("form textarea")}}'
						 name="msg"
						 value=""
						 class='bg-[#ccc] p-3 rounded-md'
						 ></textarea>
				 <button type='submit' class='bg-black py-2 text-white uppercase rounded-md
             font-extrabold flex items-center justify-center'>
            {{spinner()}}
            <span>
                {{_('submit')}}
            </span>
           </button>
			 </form>
		</div>
		<div
				class='bg-[url(../../imgs/envelop.svg)] bg-no-repeat bg-contain
				{% if locale == "ar" %}rotate-180 -ms-1{%else%}-ms-1{%endif%}'
				>
		</div>
	</section>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
	var next = document.getElementById('next');
	var prev = document.getElementById('prev');
	var carousel = document.getElementById('carousel');
	var slides = carousel.children;
	var totalSlides = slides.length;
	var GAP = 24;
	var slideWidth = slides[0].clientWidth + GAP;
	var locale = document.documentElement.lang;

	var currentSlide = 0;
	next.addEventListener('click', () => {
		currentSlide = (currentSlide + 1) % totalSlides;
		carousel.style.transform =
			`translateX(${locale === 'en' ? -currentSlide * slideWidth : currentSlide * slideWidth}px)`;
	});
	prev.addEventListener('click', () => {
    // TODO: if slider item is last the next button should be disabled
		currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
		carousel.style.transform =
			`translateX(${locale === 'en' ? -currentSlide * slideWidth : currentSlide * slideWidth}px)`;
	});

  document.addEventListener('htmx:afterRequest', (evt) => {
    if (evt.detail.elt.id === 'news-slider'){
      totalSlides = carousel.children.length;
    }

  });

  // Scroll to subscribe input and focus on it
  document.getElementById('join-us').addEventListener('click', function() {
      const inputField = document.getElementById('email-input');
      inputField.scrollIntoView({
          behavior: 'smooth',
      });

      setTimeout(() => {
          inputField.focus();
      }, 500);
  });
</script>
{% endblock %}
