{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
<div class='w-full h-full bg-primary-50'>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
	var burgerMenu = document.getElementById('menu-burger');
	var isActive = false;
	burgerMenu.addEventListener('click', function() {
		isActive = !isActive;
		burgerMenu.children[0].classList.toggle('opacity-0');
		burgerMenu.children[1].classList.toggle('rotate-45');
		burgerMenu.children[2].classList.toggle('-rotate-45');
		burgerMenu.children[2].classList.toggle('-translate-y-[150%]');
		document.getElementById('menu-container').classList.toggle('-translate-y-full');

		for (const elem of burgerMenu.children){
			elem.classList.toggle('bg-white');
		}

	});

	document.addEventListener('htmx:afterRequest', function(evt) {
		const path = evt.detail.pathInfo.requestPath;
		if (path.match('set_language') && evt.detail.successful) {
			const locale =path.match('(?<=lang=)[a-z]{2}')[0]; 
			document.documentElement.lang =  locale;
			if (locale === 'ar') {
				document.dir = 'rtl';
			} else {
				document.dir = 'ltr';
			}
		}
		isActive = false;
	})

	// initial page load
	document.addEventListener('DOMContentLoaded', function() {
		const locale = document.documentElement.lang;
		if (locale === 'ar') {
			document.dir = 'rtl';
		} else {
			document.dir = 'ltr';
		}
	})
</script>
{% endblock %}
